{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Donor Management Landing Page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">


</head>
<body>

    <div class="landingContainer">
        <div class="landingNavbar">
            <div class="land-logo-and-title">
            <h1 class="landingTitle">DonorHub</h1>
            <img src="{% static 'images/logo.png' %}" class="land_logo">
            </div>
        </div>
        <div class="landing-button-container">
               <a href="{% url 'search' %}"><button type="button" id="landButton1" class="landButton1">Search</button></a>
               <a href="{% url 'add' %}"><button type="button" id="landButton2" class="landButton2">Add</button></a>
               <a href="{% url 'all' %}"><button type="button" id="landButton3" class="landButton3">See All</button></a>
        </div>
    </div>
    <script src="{% static '/js/main.js' %}"></script>

</body>
</html>

